.main {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: white;
    color: #004AAF;
}
.main2{
    background-color: white;
}
.h1{
    font-family: 'Oswald', sans-serif;
}






@media (0px <= width < 450px) {
    .main {
    
        padding-top: 10px;
        
    }
}
@media (450px <= width < 768px) {
    .main {
    
        padding-top: 10px;
        
    }
 
}
@media (768px <= width < 992px) {
 
}
@media (992px <= width < 1280px) {
}
@media (min-width: 1280px) {
}
