.main{
    color: white;
    /* background-color: #000000;  */
  
    /* padding-top: 20px; */
    text-align: center;
    padding-bottom: 15px;
}
#container{
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 20px;
}
.h6{
    text-decoration: none;
    color: white;
    
}