#Navbar {
  background-color: #004AAF ;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
  
  
    margin-bottom: 5%;
    /* padding-left: 5%; */
    /* padding-right: 5%; */
  }
  
  #Link:hover {
    color: #004AAF;
    
  }
  #Link {
    text-decoration: none;
    color: white;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    font-family: 'Oswald', sans-serif;
    
  }
  #Link2 {
   font-size: 15px;
   transition: transform  0.8s ease;
  }
  #Link2:hover {
   font-size: 15px;
   transform: translateX(10px);
   color: #d2e2f8;
  }
  #link3{
    color: black;
    padding-left: 9%;
  }
  #Dropdown-Menu {
    background-color: black;
  }
  #toggle {
    border: none;
    background-color: black;
  }
  #NavToggle {
    border: none;
    color: white;
    background-color: white;
  }
  
  #NavToggle:focus {
    box-shadow: none;
  }
  
  #NavToggle:hover {
    color: white;
  }
  #offcanvas {
    background-color: black;
    color: white;
  }
  #offcanvas .btn-close {
    background-color:#004AAF;
    color:#004AAF;
  }
  .btn_close .btn-close {
    color:#004AAF;
    background-color:#004AAF;
  }
  .e {
    color: rgb(29, 211, 211);
    font-size: larger;
  }
  
  #search {
    margin-left: 0px;
    width: 650px;
  }
  
  .cart2 {
    font-size: 30px;
    padding-right: 20%;
  }
  .accountIcon {
    font-size: 15px;
    /* width: 200%; */
    padding-right: 10%;
  }
  .accountIcon2 {
    font-size: 15px;
    /* width: 200%; */
    padding-right: 6%;
  }
  
  #account {
    background: none;
    border: none;
    font-size: 20px;
    /* padding-bottom: 20px; */
  }
  
  #accountNav {
    /* padding-bottom: 20px; */
  }
  
  .logout {
    color: rgb(25, 117, 117);
  }
  

  .logo{
    max-width:  100%; /* Ensure the image fits within the navbar */
    max-height:  72px; /* Limit the height to prevent excessive size */
    object-fit: contain; /* Ensure the image scales nicely */
    filter: contrast(110%)
    
    
  }

  .donateButton{
    background-color: white;
    border: none;
    border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
  color: #004AAF;
  height: 40px;
  margin-top: -3px;
  /* font-size: smaller; */
  }

  #dropdownToggle{
    border: none;
    background: none;
    
    font-size: 20px;
   padding-top: 8%;
    font-weight: 500;
  }

  #link{
    padding-left: 12px;
    text-decoration: none;
    color: black;

  }
  #link:hover{
    color: #004AAF;
    margin-left: 4px;
    transition: ease-in;
    transition-duration: 0.2s;
    cursor: pointer;
  }

/* #dropdownToggle:hover #Dropdown_menu{
  visibility: visible;
  display: block;
} */
.active {
  display: block;
}


  /* 0 */
  
  @media (0px <= width < 450px) {
    #Navbar {
  
      /* color: white; */
      position:sticky;
      width: 100%;
      
      padding-left: 0%;
      padding-right: 0%;
      top: 0;
      left: 0;
      margin-bottom: 0%;
    }
  
    #offcanvas {
      text-align: center;
      width: 70%;
    }
    #Link2 {
      padding-top: 5px;
      padding-bottom: 5px;
      /* width: 100%; */
    }
    #Link2:hover {
      background-color: rgba(83, 74, 74, 0.349);
      transition: 0.5s;
      /* cursor: pointer; */
      padding-left: 10px;
    }
    #Link {
      text-decoration: none;
      color: white;
      margin-bottom: 6%;
  
      font-size: larger;
    }
    #search {
      display: none;
    }
  
    .cart {
      margin-left: auto;
      margin-right: 4%;
    }
    .accountIcon {
      display: none;
    }
  
    #AccountLink {
      margin-bottom: 15%;
      margin-top: 5%;
    }
    #Dropdown_menu {
      text-decoration: none;
      text-align: center;
    }
    #Dropdown_Item {
      margin-top: 2%;
      text-decoration: none;
      font-size: large;
    }
    #dropdownToggle{
      border: none;
      background: none;
      
      font-size: 20px;
     padding-bottom: 20%;
      font-weight: 200;
    }
  }
  @media (450px <= width < 768px) {
   
    #Navbar {
  
      /* color: white; */
      position:static;
      width: 100%;
      z-index: 1000;
      padding-left: 0%;
      padding-right: 0%;
      top: 0;
      left: 0;
      margin-bottom: 0px;
    }
  
    #offcanvas {
      text-align: center;
      width: 70%;
    }
    #Link2 {
      padding-top: 5px;
      padding-bottom: 5px;
      /* width: 100%; */
    }
    #Link2:hover {
      background-color: rgba(83, 74, 74, 0.349);
      transition: 0.5s;
      /* cursor: pointer; */
      padding-left: 10px;
    }
    #Link {
      text-decoration: none;
      color: white;
      margin-bottom: 6%;
  
      font-size: larger;
    }
    #search {
      display: none;
    }
  
    .cart {
      margin-left: auto;
      margin-right: 4%;
    }
    .accountIcon {
      display: none;
    }
  
    #AccountLink {
      margin-bottom: 15%;
      margin-top: 5%;
    }
    #Dropdown_menu {
      text-decoration: none;
      text-align: center;
    }
    #Dropdown_Item {
      margin-top: 2%;
      text-decoration: none;
      font-size: large;
    }
    #dropdownToggle{
      border: none;
      background: none;
      
      font-size: 20px;
     padding-bottom: 15%;
      font-weight: 200;
    }
    
  }
  @media (768px <= width < 992px) {
    #search {
      margin-left: 0px;
      width: 220px;
    }
    #Link {
      text-decoration: none;
      /* color: white; */
      font-size: smaller;
      margin-right: 1%;
    }
    .accountIcon {
      font-size: 20px;
      /* width: 200%; */
      padding-right: 10%;
    }
    .donateButton{
  
      border: none;
      border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
   
    height: 40px;
    margin-top: -7px;
    
    }
    .cart {
      display: none;
    }
    #dropdownToggle{
      border: none;
      background: none;
      
      font-size: 13px;
     padding-top: 4%;
      font-weight: 400;
    }
  }
  @media (992px <= width < 1280px) {
    #search {
      margin-left: 0px;
      width: 350px;
    }
    #Link {
      text-decoration: none;
      color: white;
      font-size: larger;
      margin-right: 0%;
      
    }
    .cart {
      display: none;
    }
    #dropdownToggle{
      border: none;
      background: none;
      
      font-size: 20px;
     padding-top: 6%;
      font-weight: 500;
    }
    .accountIcon2 {
      font-size: 30px;
      /* width: 200%; */
      padding-right: 6%;
    }
  }
  @media (min-width: 1280px) {
    #Link {
      text-decoration: none;
      color: white;
      font-size: larger;
      margin-right: 20px;
      margin-left: 10px;
      margin-bottom: 1%;
      font-weight: 500;
    }
    .cart {
      display: none;
    }
    #Navbar {
  
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
  
    margin-bottom: 5%;
    /* padding-left: 5%; */
    /* padding-right: 5%; */
  }
  
  #Link:hover {
    color: #DDD5CA;
    transition: 0.5ms;
    /* color: black; */
  }
  
  #Dropdown-Menu {
    background-color: black;
  }
  #toggle {
    border: none;
    background-color: black;
  }
  #NavToggle {
    border: none;
    color: white;
    background-color: white;
  }
  
  #NavToggle:focus {
    box-shadow: none;
  }
  
  #NavToggle:hover {
    color: white;
  }
  #offcanvas {
    background-color: black;
    color: white;
  }
  #offcanvas .btn-close {
    background-color: white;
    color: white;
  }
  .btn_close .btn-close {
    color: white;
    background-color: white;
  }
  .e {
    color: rgb(29, 211, 211);
    font-size: larger;
  }
  
  #search {
    margin-left: 0px;
    width: 650px;
  }
  
  .cart2 {
    font-size: 30px;
    padding-right: 20%;
  }
  .accountIcon {
    font-size: 30px;
    /* width: 200%; */
    padding-right: 5%;
  }
  .accountIcon2 {
    font-size: 30px;
    /* width: 200%; */
    padding-right: 5%;
  }
  
  #account {
    background: none;
    border: none;
    font-size: 20px;
    /* padding-bottom: 20px; */
  }
  
  #accountNav {
    /* padding-bottom: 20px; */
  }
  
  .logout {
    color: rgb(25, 117, 117);
  }
  
  #dropdownToggle{
    border: none;
    background: none;
    
    font-size: 20px;
   padding-top: 8%;
    font-weight: 500;
  }
  }
  


