.main{
    background-color: #DDD5CA;
}


#container{
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
#col{
   padding-bottom: 20px;
}
.img{
    width: 100%;
}