.main{
     background-color: #004AAF;
     color: white;
}

#container{
    
     color: white;
     padding-left: 5%;
     padding-right: 5%;
     border-top: 1px solid white;
   
     padding-top: 30px;
     font-family: "Raleway", sans-serif;
}
.icon2{
     font-size: 25px;
}
.label{
     margin-right:10%;
     color: white;
}
.h4{
     padding-bottom: 20px;
     font-family: 'Oswald', sans-serif;
     
}
.donateButton{
     background-color: white;
     border: none;
     border-radius: 5px;
   padding-left: 40px;
   padding-right: 40px;
   color: #004AAF;
   height: 40px;
   margin-top: -3px;
   /* width: 10px; */
   /* font-size: smaller; */
  text-align: center;
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
   }
   .accountIcon {
     font-size: 30px;
     /* width: 200%; */
     padding-right: 4px;
   }

   #container2{
     padding-bottom: 40px;
     text-align: center;
   }
   #container3{
     padding-top: 10px;
     padding-bottom: 10px;
     border-top: 1px solid white;
     border-bottom: 1px solid white;
   }
 #col{
  font-family: "Raleway", sans-serif;
 }
 .icon{
  font-size: 20px;
 }
 .number{
  font-size: 10px;
 
 }
 .Link{
  color: white;
  text-decoration: none;
 }

   @media (0px <= width < 450px) {
     .donateButton{
         margin-bottom: 30px;
        }
        /* .label{
          padding-left: 20px;
        } */

   }
   .p{
     font-size: 15px;
   }
   @media (450px <= width < 768px) {
     .donateButton{
          margin-bottom: 30px;
         }
   }
   @media (768px <= width < 992px) {
     .donateButton{
          margin-bottom: 30px;
         }
   }
   @media (992px <= width < 1280px) {
   }
   @media (min-width: 1280px) {
   }