.main{
    padding-top: 100px;
}
#container{
    padding-left: 5%;
    padding-right: 5%;
}
#col{
    background-color: grey;
    height: 400px;
    padding-bottom: 20px;
}
#col1{
    background-color: grey;
    height: 195px;
    margin-bottom: 10px;
    
   
}
.img{
    width: 100%;
    height: 100%;
    display: block;
    /* position: relative; */
}
.p{
    /* color: white;
    position: absolute;
      top: 30%;
     */
      
      /* left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 24px; 
      text-align: center; */
}
.h1{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

@media (0px <= width < 450px) {
    #col{
       
        margin-bottom: 20px;
    }
 
}
@media (450px <= width < 768px) {
    #col{
      
        margin-bottom: 20px;
    }
 
}
@media (768px <= width < 992px) {
 
}
@media (992px <= width < 1280px) {
}
@media (min-width: 1280px) {
}