@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


#offcanvas{
    background-color: #857A7D ;
    color: white;
}
#offcanvas .btn-close{
 background-color: white;
    color: white;
}

.active {
    display: block;
  }


@media(0px <= width <= 768px){

    #offcanvas{
        text-align: center;
        background-color: #857A7D ;
        width: 80%;
    }
  
}